{%if $modtype == "ind"%}
            <div class="col-lg-12 content-box ">
                <div class="row row-featured row-featured-category">
                    {%foreach from=$tree item=el%}
                        {%assign var="uri" value=$settings.path_rel%}
                        {%assign var="count" value=$el.id|count_msg%}
                        
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 f-category">
                            <a href="{%$uri%}{%$el.uri%}/">
                                {%if $el.img != ""%}
                                    <img class="ln-shadow" src='{%$settings.path%}images/cat/{%$el.img%}' alt='{%$el.name%}' />
                                {%/if%}
                                <h6> {%$el.name%} </h6>
                            </a>
                        </div>
                        
                    {%/foreach%}

                </div>


            </div>

            <div style="clear: both"></div>
{%else%}

    <div class="row tree1">
    {%foreach from=$tree item=el%}
        {%assign var="uri" value=$settings.path_rel%}
        {%assign var="count" value=$el.id|count_msg%}
        <div class='cat-list maintree'>
            <h3 class="cat-title">
                <a href='{%$uri%}{%$el.uri%}/' {%if $el.img == ""%}class="noimg"{%/if%}>
                {%if $el.img != ""%}
                    <img class="ln-shadow" src='{%$settings.path%}images/cat/{%$el.img%}' alt='{%$el.name%}' />
                {%/if%}
                {%$el.name%}
                <span class="count">{%$count%}</span>
                </a>
                {%if $el.cat%}
                    <span data-target=".cat-id-{%$el.id%}" data-toggle="collapse"
                          class="btn-cat-collapsed collapsed">   <span
                            class=" icon-down-open-big"></span> </span>
                {%/if%}
            </h3>
            
            {%if $el.cat%}
                {%assign var="uri" value=$uri|cat:$el.uri|cat:"/"%}
                <ul class="cat-collapse collapse in cat-id-{%$el.id%}">{%include file="tree1_recursive.html" el=$el.cat%}</ul>
            {%/if%}        
    
        </div>
    {%/foreach%}
    </div>

{%/if%}
