                    </div>

                {%$blocks.b%}

                </div>

                
                
                
               {%if $blocks.r != ""%}
                    <div class="col-sm-3 page-sidebar col-thin-right mobile-filter-sidebar2">
                        <aside>
                            {%$blocks.r%}
                        </aside>
                    </div>
               {%/if%}
                
                
                
            </div>
        </div>
    </div>
    <!-- /.main-container -->

{%include file='footer.html'%}