
{%if $check.err%}
    <div class='error'>
        <ul>
            {%foreach item=err from=$check.err %}
                <li>{%$err%}</li>
            {%/foreach%}
        </ul>
    </div>
{%/if%}

<div class="registr_block1" id="panel_reg">
    <form name='panel_reg' action='' method='post' class="form-horizontal">
    {%if $settings.sms == 1%}
        <input type="hidden" name="stcode" value=""/>
        {%if $settings.user%}
            {%if $settings.user.phone == ""%}
                <div class="alert alert-warning">
                    <p class="lead">
                        {%$locale.824%}
                    </p>
                </div>
            {%else%}
                <div class="alert alert-success">
                    <p class="lead">
                        {%$locale.825%}: <b>+{%$settings.user.phone%}</b>
                        <a class="btn btn-warning btn-xs" href='#' id='changephone'>
                            {%$locale.837%}
                        </a>
                    </p>
                </div>
                <style>
                #phone_field{
                    display: none;
                }
                </style>
            {%/if%}
        {%/if%}
        <div id="phone_field">
            <div class="form-group">
                <label class="col-md-4 control-label"  for="rphone">
                    {%$locale.409%}
                    <i class="icon-info-circled-alt" data-original-title="{%$locale.806%}"  data-placement="top" data-toggle="tooltip"></i>
                </label>
                <div class="col-md-7">
                    <input id="rphone" class="form-control" 
                        data-text1="{%$locale.808%}" 
                    name='phone' type='text' value='{%$check.stcode%}{%$check.phone%}'>
                </div>
            </div>
            <div id="phone_confirm" {%if $smarty.post.submit_registr == ''%}style='display:none;'{%/if%}>
                <div class="form-group">
                    <div class="col-md-11 text-center">
                        <input class="btn btn-success" type='button' id='sendsms' value='{%$locale.816%}' 
                            data-text1="{%$locale.812%}" 
                            name='{%$check.stcode%}{%$check.phone%}' >
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label"  for="rphone">
                        {%$locale.807%}
                    </label>
                    <div class="col-md-7">
                        <input id='phonecode' class='form-control' name='code' type='text' value='{%$check.code%}' autocomplete="off">
                    </div>
                </div>
            </div>
        </div>
    {%/if%}

    <div class="form-group">
        <label class="col-md-4 control-label"  for="remail">
            {%$locale.26%}
            <i class="icon-info-circled-alt" data-original-title="{%$tip_email%}"  data-placement="top" data-toggle="tooltip"></i>
        </label>
        <div class="col-md-7">
            <input id="remail" class="form-control" placeholder="{%$locale.26%}" required="" class='form-control' name='email' type='email' value='{%$check.email%}'>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label"  for="rname">
            {%$locale.28%}
            <i class="icon-info-circled-alt" data-original-title="{%$locale.29%}"  data-placement="top" data-toggle="tooltip"></i>
        </label>
        <div class="col-md-7">
            <input id="rname" class="form-control" placeholder="{%$locale.28%}" required="" class='form-control' name='name' type='text' value='{%$check.name%}'>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label"  for="password1">
            {%$locale.22%}
            <i class="icon-info-circled-alt" data-original-title="{%$ps1%}"  data-placement="top" data-toggle="tooltip"></i>
        </label>
        <div class="col-md-7">
            <input name="password" id="password1"
                    value="{%$check.password%}" class="form-control" 
                    placeholder="{%$ps2%}"
                    type="password">
            <input name="password1" id="password2" 
                    value="{%$check.password1%}" class="form-control" 
                    placeholder="{%$locale.33%}"
                    type="password"
                    style="display:none;">
            <div class="alert alert-success" style="display: none;" id="password_success">
                <i class="fa fa-check" aria-hidden="true"></i> {%$locale.1179%}
            </div>
            <div class="alert alert-warning" style="display: none;" id="password_warning">
                <i class="fa fa-exclamation" aria-hidden="true"></i> {%$locale.1180%}
            </div>
            <div class="alert alert-info" style="display: none;" id="password_info">
                <i class="fa fa-exclamation" aria-hidden="true"></i> {%$locale.1181%}
            </div>
            
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-7  col-md-offset-4">
            <div class="checkbox"><label><input type="checkbox" required=""> <a class=license href=#>{%$locale.1310%}</a></label></div>
        </div>
    </div>
    <div class="modal fade" id="license_text" tabindex="-1" role="dialog" aria-labelledby="license_title" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                            class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="license_title">{%$locale.1310%}</h4>
                </div>
                <div class="modal-body">
                    {%$settings.license_reg_text|nl2br%}
                </div>
            </div>
        </div>
    </div>
	{%if $settings.captcha == 1%}
        <div class="form-group">
            <label class="col-md-4 control-label">
                    {%$locale.44%}
                    <i class="icon-info-circled-alt" data-original-title="{%$locale.45%}"  data-placement="top" data-toggle="tooltip"></i>
            </label>
            <div class="col-md-7">
                <div class="captcha_cont">
                    {%if $settings.captcha_type == 3%}
                        <script src="https://www.google.com/recaptcha/api.js"></script>
                        <div class="g-recaptcha" data-sitekey="{%$settings.recaptcha1%}"></div>
                    {%else%}
                        <img src='{%$settings.path%}captcha/{%"100000"|mt_rand:900000%}'>
                        <input name="captcha" required="" class="form-control required" type="number" placeholder="{%$locale.1182%}" autocomplete="off">
                    {%/if%}
                </div>
            </div>
        </div>
	{%/if%}
    <div class="form-group">
        <div class="col-md-7 col-md-offset-4">
            <input type='submit' name='submit_registr' value='{%$locale.34%}' class="btn btn-success">
        </div>
    </div>
    
    </form>
</div>

{%if $settings.ulogin == 1%}
    <hr />
    <div class="row">
        <label class="col-md-4 text-right">
            {%$locale.1185%}
        </label>
        <div class="col-md-7">
            <div id="uLogin2" data-ulogin="display=panel;fields=first_name,last_name,email;verify=1;providers=vkontakte,facebook,odnoklassniki,twitter;verify=1;hidden=other;redirect_uri={%$settings.http%}%3A%2F%2F{%$smarty.server.HTTP_HOST%}{%$smarty.const.PATH%}users/?ulogin"></div>
        </div>
    </div>
    <p>&nbsp;</p>
{%/if%}


