a:link
	{
	color: #000000;
	text-decoration: underline;
	}
a:active
	{
	color: #000000;
	text-decoration: underline;
	}
a:visited
	{
	color: #000000;
	text-decoration: underline;
	}
a:hover
	{
	color: #3333ff;
	text-decoration: none;
	}

td
	{
	font-size: 11px;
	font-family: tahoma;
	}
body
	{
	font-size: 11px;
	font-family: tahoma;
	}


td ul
	{
	padding-left:14px;
	margin-left:3px;
	}

h1, h2, h3, h4
	{
	text-align: center;
	font-family: tahoma;
	}

h1
	{
    font-size:20px;
    font-family: Arial;
    color:#441A1B;
	}
h2, h3, h4
	{
    font-size:14px;
    font-family: Arial;
    font-weight:bold;
	}

input, textarea, select
	{
	background-color: #ffffff;
	border : #0079c5 1px solid;
	font-family: tahoma, Verdana, Helvetica, sans-serif;
	font-size: 10px;
	}


input:hover, textarea:hover, input .hovered
	{
	border:1px solid #00FF00;
	}

img
	{
	border:0px;
	}


div.tip
	{
	visibility:hidden;
	position:absolute;
	border:1px solid #B0B0B0;
	background:#ECECFF;
	z-index:99999;
	width:200px;
	padding:5px;
	}

.tree
	{
	margin:4px;
	}

img.help
	{
	vertical-align: middle;
	}

table.add_item
	{
	border:0px;
	}
table.add_item tr td
	{
	padding:5px;
	width:50%;
	border-bottom: 1px dotted silver;
	}

div.error
	{
	width:300px;
	margin:5px;
	padding:5px;
	text-align:left;
	border:1px solid red;
	background-color:#FFEAEA;
	}
div.ok
	{
	width:300px;
	margin:5px;
	padding:5px;
	text-align:center;
	border:1px solid green;
	background-color:#D5FFD5;
	}

div.mod
	{
	border:3px solid #4A0025;
	background: #FBFBFB url('images/admin/mod_bg.jpg') center center repeat-x;
	font-size:23px;
	font-family:Times New Roman;
	font-style:italic;
	width:210px;
	height:100px;
	padding-top:30px;
	margin:10px;
	text-align:center;
	float:left;
	cursor:pointer;
	}


div.mod a:link, div.mod a:active, div.mod a:visited
	{
	color: #383838;
	text-decoration: underline;
	}
div.mod a:hover
	{
	color: #000000;
	text-decoration: none;
	}
img.opt
	{
	vertical-align:middle;
	border:0px;
	}

div.sort
	{
    border:1px dotted #8F8F8F;
    margin:10px;
    padding:6px;
    width:500px;
	}

table.tbl tr td
	{
    background:#FFFFFF;
    padding:3px;
	}
table.tbl
	{
    background:#400040;
	}
table.tbl tr.tbl_head td
	{
    background:#FFF3E8;
    font-weight:bold;
    color:#351B00;
    text-align:center;
	}
div.page
	{
	border:1px solid black;
	color:white;
	font-size:12px;
	font-family:Verdana;
	/*width:14px;*/
	height:14px;
	padding:3px;
	margin:3px;
	font-weight:bold;
	text-align:center;
	vertical-align: middle;
	float:left;
	cursor:pointer;
	}
.sel
	{
    background-color:#640000;
	}
.unsel
	{
    background-color:#7A7A7A;
	}
.let
	{
	font-size:20px;
	text-align:center;
	}
.phpcode
	{
    font-face: Courier New;
    color: #800000;
	}
.phpbuttons input
	{
	margin:3px;
	}
.nameopt
	{
	text-align:center;
	font-weight:bold;
	}

ul.infoblock li
	{
	text-align:left;
	padding-right:4px;
	}
#content_php
	{
    border:1px solid #808080;
    color: 800000;
    font-size:12px;
    font-family:Courier New;
	}
.sortable li
	{
	margin:10px;
    list-style: none;
	}
.sortable li div
{
	border:1px dotted silver;
	width:400px;
	background: url('images/admin/up-down-trans.png') left top no-repeat;
    cursor: move;
    padding-left:20px;
    
}

