
	{%if $settings.fckeditor == 1%}
		<script>
			var CKToolbal = 'Basic';
		</script>
		<script src="{%$settings.path%}ckeditor/ckeditor.js"></script>
	{%/if%}

    {%if $err%}
    	<center>
    		<div class='error'>
    			<ul>
    				{%foreach  from=$err item='er'%}
    				<li>{%$er%}</li>
    				{%/foreach%}
    			</ul>
    		</div>
    	</center>
    {%/if%}
    
    <h2>{%$locale.1104%}{%if $shop.name != ""%} &laquo;{%$shop.name%}&raquo;{%/if%}</h2>
    
    <p>
        {%$locale.1054%}:
        {%if $shop.status == 0%}<span style="color: silver;">{%$locale.1056%}</span>{%/if%}
        {%if $shop.status == 1%}<span style="color: green;">{%$locale.1055%}</span>{%/if%}
        {%if $shop.status == 2%}<span style="color: red;">{%$locale.1151%}</span>{%/if%}
    </p>

    {%*//upd170216*%}
    {%if $settings.shop_pay == 1%}
        <p>
            {%$locale.1169%}: 
            {%if $shop.next_pay_diff == 0%}
                {%$locale.1170%}
            {%elseif $shop.next_pay_diff > 0%}
                <span style="color: green;">{%$shop.next_pay_timestamp|date_format:"%d.%m.%Y"%}</span>
                {%if $shop.next_pay_diff < 10%}
                    , {%$locale.1171%} {%$shop.next_pay_diff%} {%$shop.next_pay_diff|om_number:$locale.173:$locale.174:$locale.175%}
                {%/if%}
            {%elseif $shop.next_pay_diff < 0%}
                {%$shop.next_pay_timestamp|date_format:"%d.%m.%Y"%}, 
                <span style="color: red;">{%$locale.1172%}</span>
            {%/if%}
        </p>
        <p>
            <style>
            #shop_pay_prolong{
                text-decoration: none;
                border-bottom: 1px dotted silver;
            }
            #shop_pay_prolong:hover{
                border-bottom: 1px dotted white;
            }
            .shop_pay_prolong{
                width: 150px;
                min-height: 90px;
                margin-right: 5px;
                padding: 5px;
                float:left;
                text-align:center;
            }
            .shop_pay_prolong h3{
                font-size: 1.2em;
                margin:0;
            }
            .shop_pay_prolong p{
                font-weight: bold;
                margin:10px;
            }
            </style>
            <script>
            	$(document).ready( function () {
                $('#shop_pay_prolong').click(function(event) {
                    var el = $('#shop_pay_prolong_cont');
                    if(el.css('display') == 'none'){
                        el.show(500);
                    }else{
                        el.hide(500);
                    }
                    event.preventDefault();
                  });
            	});
            </script>
            <a href="#" id="shop_pay_prolong"><i class="glyphicon glyphicon-share-alt"></i> {%$locale.1173%}</a>
            <div style="display: none;" id="shop_pay_prolong_cont" >
                <h3>{%$locale.1174%}</h3>
                {%foreach from=$settings.shop_pay_types item='pt' key='id'%}
                    <div class="shop_pay_prolong alert alert-info text-center">
                        <h3>{%$pt.name%}</h3>
                        <p class="price">{%$pt.price%} {%$Currency%}</p>
                        <a class="btn btn-success" title="{%$locale.145%}" href="?act=prolong&id={%$id%}" >
                             {%$locale.145%}
                        </a>
                        
                    </div>
                {%/foreach%}
                <div class="clear2"></div>
            </div>
        </p>
    {%/if%}

    <ul id="shoptabs">
        <li><a href="?" {%if $act==""%}class="active"{%/if%}>{%$locale.1121%}</a></li>
        <li><a href="?act=contacts" {%if $act=="contacts"%}class="active"{%/if%}>{%$locale.1122%}</a></li>
        <li><a href="?act=delivery" {%if $act=="delivery"%}class="active"{%/if%}>{%$locale.1123%}</a></li>
        <li><a href="?act=worktime" {%if $act=="worktime"%}class="active"{%/if%}>{%$locale.1231%}</a></li>
    </ul>

    <div id="shopblock">
        {%if !$shop%}
            <style>
                div#shopblock{
                    border: 1px solid #FF8000; 
                    background-color: #FFEEDD; 
                    color: #840000;
                }
            </style>    
            <p>{%$locale.1132%}</p>
            <p>{%$locale.1133%}</p>
            <form action="" method="POST">
                <p><b>{%$locale.1145%}</b></p>
                <p><input required="" value="{%$smarty.post.name%}" type="text" name="name" class="add" placeholder="ООО {%$settings.user.name|htmlspecialchars%}"></p>
                <p><b>{%$locale.358%}</b></p>
                <p>
            		  <textarea required="" class='add' name='description' rows='5' style='width:100%;' placeholder="ООО {%$settings.user.name|htmlspecialchars%} &mdash;  {%$locale.1141%}">{%$smarty.post.description%}</textarea>
                </p>            
                <p><input type="submit" class='add btn btn-success'  value="{%$locale.1134%}"></p>
            </form>
        {%elseif $smarty.get.act == "create"%}
            <div class="ok bg-success">{%$locale.1135%}</div>
            <p class="text-primary">{%$locale.1136%}</p>
        {%elseif $smarty.get.act == ""%}
            <form action="" name="add" method="POST" enctype="multipart/form-data">
                <p>{%$locale.1145%}</p>
                <p><input required="" type="text" name="name" class="add" placeholder="ООО {%$settings.user.name|htmlspecialchars%}" value="{%$shop.name%}"></p>
                <p>{%$locale.358%}</p>
                <p>
                
            		{%if $settings.fckeditor == 1%}
            		  <textarea class="ckeditor" cols="80" name="description" placeholder="{%$settings.user.name|htmlspecialchars%} &mdash;  {%$locale.1141%}" rows="10">{%$shop.description%}</textarea>
            		{%else%}
            		  <textarea class='add' name='description' rows='5' style='width:100%;' placeholder="ООО {%$settings.user.name|htmlspecialchars%} &mdash;  {%$locale.1141%}">{%$shop.description%}</textarea>
            		{%/if%}
                </p>
                <p>{%$locale.539%} <small>({%$locale.1140%} {%$image_size.width%} X {%$image_size.height%}px)</small></p>
                <p><img src="{%$shop.logo%}?rnd={%100|rand:999%}"/></p>
                <p>{%$locale.7%} &mdash; <input type="file" name="img" value="{%$locale.7%}"/></p>
                <p>{%$locale.1118%}</p>
                <p>
                    <input type='hidden' name='add_region' value='{%$shop.region%}'/>
                    <iframe scrolling='no' src="{%$settings.patch%}add/select/region/?i={%$shop.region%}" style="width:100%; " frameborder="0" class='add'>
                    </iframe>
                </p>
                <p>{%$locale.1119%}</p>
                <p>
                    <input type='hidden' name='add_cat' value='{%$shop.cat%}'/>
                    <iframe scrolling='no' src="{%$settings.patch%}add/select/cat/?i={%$shop.cat%}" style="width:100%; " frameborder="0" class='add'>
                    </iframe>
                </p>
                <script>
                    function loadFields(tempvar){
                        return true;
                    }
                </script>
                <input name='post_filter' type='hidden' value='false'>
                <p>
                    <input class='add btn btn-default' type='submit' name='submit' value='{%$submit_text%}'>
                </p>
                
            </form>
        {%elseif $smarty.get.act == "contacts"%}
            <form action="" name="shop" method="POST">
                <p>Адрес</p>
                <p><input type="text" name="addr" class="add" placeholder="{%$locale.1142%}" value="{%$shop.addr%}"></p>
                <script type="text/javascript" src="{%$settings.patch%}js/jquery.maskedinput-1.3.min.js"></script>
                <script type="text/javascript">
                $(document).ready(function() {
                	   $(".shopphone").mask("+7 (999) 999-99-99");
                });
                </script>
                <p>{%$locale.1109%}</p>
                <p><input type="text" name="phone1" class="add shopphone"  placeholder="+7 812 123-23-56" value="{%$shop.phone1%}"></p>
                <p>{%$locale.1110%}</p>
                <p><input type="text" name="phone2" class="add shopphone"  placeholder="+7 812 123-23-56" value="{%$shop.phone2%}"></p>
                <p>{%$locale.1143%}</p>
                <input type="hidden" value="{%$shop.map%}" name="map" id="shopmap" />
                
                <div id="YMapsID" style="width:100%;height:400px"></div>
                {%if $settings.maptype == 1%}
                    <script>
                
                      function initMap() {
                        
                        var pl = false;
                        var myLatLng = {lat: {%$shop.point.0%}, lng: {%$shop.point.1%}};
                
                        var map = new google.maps.Map(document.getElementById("YMapsID"), {
                          zoom: {%$shop.point.2%},
                          center: myLatLng
                        });
                        
                        pl = placeMarker(myLatLng);
                        
                        google.maps.event.addListener(map, "click", function(event) {
                            if(pl != false){
                                pl.setMap(null);
                            }
                            pl = placeMarker(event.latLng);
                            var lat = pl.getPosition().lat();
                            var lng = pl.getPosition().lng();
                            var geopoint = lat + "," + lng + "," + map.getZoom();
                            document.getElementById("shopmap").value = geopoint;
                        });

                        function placeMarker(location) {
                            var marker = new google.maps.Marker({
                                position: location, 
                                map: map
                            });
                            return marker;
                        } 
                        
                     }
                    </script>
                    <script async defer
                    src="https://maps.googleapis.com/maps/api/js?key={%$settings.mapkey%}&callback=initMap">
                    </script>
                    
                {%else%}
                    <script src="https://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU" type="text/javascript"></script>
                    <script type="text/javascript">
                        ymaps.ready(init);
                        function init () {
                            var myMap = new ymaps.Map('YMapsID', {
                                    center: [{%$shop.point.0%}, {%$shop.point.1%}],
                                    zoom: {%$shop.point.2%}
                                });
                                
                            myMap.controls
                                .add("zoomControl")
                                .add("typeSelector")
                                .add("mapTools")
                                .add(new ymaps.control.ScaleLine())
                                .add("searchControl")
                                .add(new ymaps.control.MiniMap({
                                    type: "yandex#publicMap"
                                }));                            
                                
                                {%if $shop.map != ""%}
                            		var myPlacemark = new ymaps.Placemark(
                            		[{%$shop.point.0%}, {%$shop.point.1%}] , {
                                        
                                    }, {
                                        draggable: false
                                    });
                            		myMap.geoObjects.add(myPlacemark);
                                {%/if%}
    
                            myMap.events.add("click",
                                function(e) {
                                    myMap.balloon.open(
                                        e.get("coordPosition"), {
                                            contentBody: "{%$locale.680%}"
                                        }  
                                    );
                                        var geopoint = e.get("coordPosition") + "," + myMap.getZoom();
                                        top.document.getElementById("shopmap").value = geopoint;
                                }
                            );
                        }
                    </script>
                {%/if%}
                <p>&nbsp;</p>
                <p>
                    <input class='add btn btn-default' type='submit' name='submit' value='{%$submit_text%}'>
                </p>
            </form>
            
        {%elseif $smarty.get.act == "delivery"%}
            <form action="" name="shop" method="POST">
                <p>{%$locale.1137%}</p>
                <p>
            		{%if $settings.fckeditor == 1%}
            		  <textarea class="ckeditor" cols="80" name="payment" placeholder="{%$locale.1138%}" rows="10">{%$shop.payment%}</textarea>
            		{%else%}
            		  <textarea class='add' name='payment' rows='5' style='width:100%;' placeholder="{%$locale.1138%}">{%$shop.payment%}</textarea>
            		{%/if%}
                </p>
                <p>{%$locale.1144%}</p>
                <p>
                
            		{%if $settings.fckeditor == 1%}
            		  <textarea class="ckeditor" cols="80" name="delivery" placeholder="{%$locale.1139%}" rows="10">{%$shop.delivery%}</textarea>
            		{%else%}
            		  <textarea class='add' name='delivery' rows='5' style='width:100%;' placeholder="{%$locale.1139%}">{%$shop.delivery%}</textarea>
            		{%/if%}
                </p>
                <input name='post_filter' type='hidden' value='false'>
                <p>&nbsp;</p>
                <p>
                    <input class='add btn btn-default' type='submit' name='submit' value='{%$submit_text%}'>
                </p>
            </form>
        {%elseif $smarty.get.act == "worktime"%}
                <form action="" name="shop" method="POST">
                    <table class="table table-hover">
                        <thead> 
                            <tr> 
                                <th>{%$locale.1240%}</th> 
                                <th>
                                    {%$locale.1241%}
                                        <a href="#" class="clone" data-class="wt_from" 
                                            data-original-title="{%$locale.1232%}"  
                                            data-placement="top" data-toggle="tooltip">
                                        <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span></a>
                                </th> 
                                <th>
                                    {%$locale.1242%}
                                        <a href="#" class="clone" data-class="wt_to" 
                                            data-original-title="{%$locale.1232%}"  
                                            data-placement="top" data-toggle="tooltip">
                                        <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span></a>
                                </th> 
                                <th>
                                    {%$locale.1243%}
                                        <a href="#" class="clone" data-class="wt_pause1" 
                                            data-original-title="{%$locale.1232%}"  
                                            data-placement="top" data-toggle="tooltip">
                                        <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span></a>
                                </th> 
                                <th>
                                    {%$locale.1244%}
                                        <a href="#" class="clone" data-class="wt_pause2" 
                                            data-original-title="{%$locale.1232%}"  
                                            data-placement="top" data-toggle="tooltip">
                                        <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span></a>
                                </th> 

                            </tr>
                        </thead>
                        {%foreach from=$weeks item='w' key='w_key'%}
                            {%assign var='wt' value=$shop.worktime_array[$w_key]%}
                            <tr>
                                <td>{%$w%}</td>
                                <td>
                                    <input name="wt[{%$w_key%}][from]" 
                                        type="text" 
                                        value="{%$wt.from%}"
                                        class="form-control wt_from"/>
                                </td>
                                <td>
                                    <input name="wt[{%$w_key%}][to]" 
                                        type="text" 
                                        value="{%$wt.to%}"
                                        class="form-control wt_to"/>
                                </td>
                                <td>
                                    <input name="wt[{%$w_key%}][p_from]" 
                                        type="text" 
                                        value="{%$wt.p_from%}"
                                        class="form-control wt_pause wt_pause1"/>
                                </td>
                                <td>
                                    <input name="wt[{%$w_key%}][p_to]" 
                                        type="text" 
                                        value="{%$wt.p_to%}"
                                        class="form-control wt_pause wt_pause2"/>
                                </td>
                            </tr>
                        {%/foreach%}

                    </table>
                    <p>
                        <input class='add btn btn-primary' type='submit' name='submit' value='{%$submit_text%}'>
                    </p>
                </form> 
        {%elseif $smarty.get.act == "prolong"%}
            {%if $go%}
                {%include file='users_pay.html'%}
            {%else%}
                <div class="ok">
                    {%$locale.227%}
                </div>
            {%/if%}
        {%/if%}
        
    </div>