
<html>
<head>
<meta http-equiv='Content-Type' content='text/html; charset={%$settings.charset%}'>
<link rel='stylesheet' type='text/css' href='{%$smarty.const.THEME%}css/style.css'>
<script type="text/javascript" src="{%$settings.path%}js/jquery.js"></script>
	<script type="text/javascript">
	function loadPage(pageURL)
		{
		if(pageURL.options[pageURL.selectedIndex].value != 'none')
			{
			location.href = '{%$settings.patch%}add/select/{%$smarty.get.cat.2%}/?i=' + pageURL.options[pageURL.selectedIndex].value{%if $smarty.get.search == 'true'%} + '&search=true'{%/if%};
			}
		}
 
    $(function() {
        var iframe = $('#frame_{%$act2%}', parent.document.body);
        iframe.height($(document.body).height() + 0);
    });

	</script>
</head>
<body id="cat_reg" topmargin='0' leftmargin='0' style="  width: auto; float: left;">
{%foreach from=$select_array item='select'%}
{%$select%}
{%/foreach%}

{%if $smarty.get.search == 'true' && $smarty.get.i != ''%}
    <script>
        {%if $smarty.get.cat.2 == 'cat'%}
            top.loadFields("{%$smarty.get.i%}");
        {%/if%}
        top.document.add.add_{%$smarty.get.cat.2%}.value="{%$smarty.get.i%}";
    </script>
{%/if%}
   
   
   
   
   
   
   
   

</body>