
<ul>
<li>{%$locale.218%}: {%$counter.messages_all%}</li>
<li>{%$locale.226%}: {%$counter.messages_today%}</li>
<li>{%$locale.219%}: {%$counter.messages_off%}</li>
<li>{%$locale.220%}: {%$counter.messages_on%}</li>
<li>{%$locale.221%}: {%$counter.hosts_today%}</li>
<li>{%$locale.222%}: {%$counter.hits_today%}</li>
<li>{%$locale.223%}: {%$counter.hosts_all%}</li>
<li>{%$locale.225%}: {%$counter.hits_all%}</li>

<li><a href='{%$settings.patch%}notepad/'>{%$locale.245%}</a>: <span id='counter'>{%$counter.notepad%}</span></li>
</ul>