

<div id="recovery">

<div id="name_recovery">{%$locale.1243%}</div>
<form name='form' action='?' method='post' style="margin-right: 20px;">
<table border="0">
<tr><td align="right" id="td_right">{%$locale.54%}:</td><td><input name='email' type='text' value='' style='width:150px;'></td></tr>

{%if $settings.captcha == 1%}
<tr><td align="right" id="td_right">{%$locale.44%}<br />
<img src='{%$settings.patch%}captcha/{%"100000"|mt_rand:900000%}'  width='80' height='40'>
</td><td valign="top"><input name='captcha' type='text' value='' style='width:150px;'></td></tr>
{%/if%}
</table>
<div align='center'><input id="adds_go" type='submit' name='submit' value='{%$locale.55%}'></div>
</form>
</div>