/* Интеграция с Twitter Bootstrap */
[class^="icn-"],
[class*=" icn-"] {
    display: inline-block;
    width: 17px;
    height: 16px;
    *margin-right: .3em;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url("../img/icons-sprite-color.png"); /* Указываем путь к сгенерированному спрайту */
    background-position: 14px 14px;
    background-repeat: no-repeat;
}
[class^="icn-"]:last-child,
[class*=" icn-"]:last-child {
    *margin-left: 0;
}
.icn-address-book-open{ background-position: 0 0; width: 16px; height: 16px; } 
.icn-alarm-clock-blue{ background-position: -21px 0; width: 16px; height: 16px; } 
.icn-alarm-clock{ background-position: -42px 0; width: 16px; height: 16px; } 
.icn-application--arrow{ background-position: -63px 0; width: 16px; height: 16px; } 
.icn-application-image{ background-position: -84px 0; width: 16px; height: 16px; } 
.icn-application-share{ background-position: -105px 0; width: 16px; height: 16px; } 
.icn-arrow-000-medium{ background-position: -126px 0; width: 16px; height: 16px; } 
.icn-arrow-045-medium{ background-position: -147px 0; width: 16px; height: 16px; } 
.icn-arrow-090-medium{ background-position: -168px 0; width: 16px; height: 16px; } 
.icn-arrow-090{ background-position: -189px 0; width: 16px; height: 16px; } 
.icn-arrow-135{ background-position: -210px 0; width: 16px; height: 16px; } 
.icn-arrow-180-medium{ background-position: -231px 0; width: 16px; height: 16px; } 
.icn-arrow-180{ background-position: -252px 0; width: 16px; height: 16px; } 
.icn-arrow-225{ background-position: -273px 0; width: 16px; height: 16px; } 
.icn-arrow-270-medium{ background-position: -294px 0; width: 16px; height: 16px; } 
.icn-arrow-270-small{ background-position: -315px 0; width: 16px; height: 16px; } 
.icn-arrow-270{ background-position: -336px 0; width: 16px; height: 16px; } 
.icn-arrow-315{ background-position: -357px 0; width: 16px; height: 16px; } 
.icn-arrow-circle-045-left{ background-position: -378px 0; width: 16px; height: 16px; } 
.icn-arrow-circle-135-left{ background-position: -399px 0; width: 16px; height: 16px; } 
.icn-arrow-circle-135{ background-position: -420px 0; width: 16px; height: 16px; } 
.icn-arrow-circle-double-135{ background-position: -441px 0; width: 16px; height: 16px; } 
.icn-arrow-circle{ background-position: -462px 0; width: 16px; height: 16px; } 
.icn-arrow-continue-180-top{ background-position: -483px 0; width: 16px; height: 16px; } 
.icn-arrow-curve-000-double{ background-position: -504px 0; width: 16px; height: 16px; } 
.icn-arrow-curve-180-double{ background-position: -525px 0; width: 16px; height: 16px; } 
.icn-arrow-curve-180-left{ background-position: -546px 0; width: 16px; height: 16px; } 
.icn-arrow-curve-180{ background-position: -567px 0; width: 16px; height: 16px; } 
.icn-arrow-curve-270-left{ background-position: -588px 0; width: 16px; height: 16px; } 
.icn-arrow-curve-270{ background-position: -609px 0; width: 16px; height: 16px; } 
.icn-arrow-curve{ background-position: -630px 0; width: 16px; height: 16px; } 
.icn-arrow-resize-045{ background-position: -651px 0; width: 16px; height: 16px; } 
.icn-arrow-resize-090{ background-position: -672px 0; width: 16px; height: 16px; } 
.icn-arrow-resize{ background-position: -693px 0; width: 16px; height: 16px; } 
.icn-arrow-turn-000-left{ background-position: -714px 0; width: 16px; height: 16px; } 
.icn-arrow-turn-090-left{ background-position: -735px 0; width: 16px; height: 16px; } 
.icn-arrow-turn-090{ background-position: -756px 0; width: 16px; height: 16px; } 
.icn-arrow-turn-180-left{ background-position: -777px 0; width: 16px; height: 16px; } 
.icn-arrow-turn-180{ background-position: -798px 0; width: 16px; height: 16px; } 
.icn-arrow-turn-270{ background-position: -819px 0; width: 16px; height: 16px; } 
.icn-arrow{ background-position: -840px 0; width: 16px; height: 16px; } 
.icn-asterisk{ background-position: -861px 0; width: 16px; height: 16px; } 
.icn-at-sign-balloon{ background-position: -882px 0; width: 16px; height: 16px; } 
.icn-at-sign{ background-position: -903px 0; width: 16px; height: 16px; } 
.icn-balloon--plus{ background-position: -924px 0; width: 16px; height: 16px; } 
.icn-balloon-box-left{ background-position: -945px 0; width: 16px; height: 16px; } 
.icn-balloon-ellipsis{ background-position: -966px 0; width: 16px; height: 16px; } 
.icn-bell{ background-position: -987px 0; width: 16px; height: 16px; } 
.icn-binocular{ background-position: -1008px 0; width: 16px; height: 16px; } 
.icn-blue-document-share{ background-position: -1029px 0; width: 16px; height: 16px; } 
.icn-blue-documents-text{ background-position: -1050px 0; width: 16px; height: 16px; } 
.icn-blueprint--pencil{ background-position: -1071px 0; width: 16px; height: 16px; } 
.icn-briefcase{ background-position: -1092px 0; width: 16px; height: 16px; } 
.icn-broom--arrow{ background-position: -1113px 0; width: 16px; height: 16px; } 
.icn-broom{ background-position: -1134px 0; width: 16px; height: 16px; } 
.icn-building{ background-position: -1155px 0; width: 16px; height: 16px; } 
.icn-calendar-list{ background-position: -1176px 0; width: 16px; height: 16px; } 
.icn-calendar{ background-position: -1197px 0; width: 16px; height: 16px; } 
.icn-camera--arrow{ background-position: -1218px 0; width: 16px; height: 16px; } 
.icn-camera--minus{ background-position: -1239px 0; width: 16px; height: 16px; } 
.icn-camera--pencil{ background-position: -1260px 0; width: 16px; height: 16px; } 
.icn-camera--plus{ background-position: -1281px 0; width: 16px; height: 16px; } 
.icn-camera-black{ background-position: -1302px 0; width: 16px; height: 16px; } 
.icn-camera-lens{ background-position: -1323px 0; width: 16px; height: 16px; } 
.icn-camera{ background-position: -1344px 0; width: 16px; height: 16px; } 
.icn-clock{ background-position: -1365px 0; width: 16px; height: 16px; } 
.icn-counter-count-up{ background-position: -1386px 0; width: 16px; height: 16px; } 
.icn-counter-reset{ background-position: -1407px 0; width: 16px; height: 16px; } 
.icn-counter-stop{ background-position: -1428px 0; width: 16px; height: 16px; } 
.icn-cross-button{ background-position: -1449px 0; width: 16px; height: 16px; } 
.icn-cross-circle-frame{ background-position: -1470px 0; width: 16px; height: 16px; } 
.icn-cross-circle{ background-position: -1491px 0; width: 16px; height: 16px; } 
.icn-cross-octagon-frame{ background-position: -1512px 0; width: 16px; height: 16px; } 
.icn-cross-octagon{ background-position: -1533px 0; width: 16px; height: 16px; } 
.icn-cross-script{ background-position: -1554px 0; width: 16px; height: 16px; } 
.icn-cross-shield{ background-position: -1575px 0; width: 16px; height: 16px; } 
.icn-cross-white{ background-position: -1596px 0; width: 16px; height: 16px; } 
.icn-cross{ background-position: -1617px 0; width: 16px; height: 16px; } 
.icn-crown--plus{ background-position: -1638px 0; width: 16px; height: 16px; } 
.icn-crown{ background-position: -1659px 0; width: 16px; height: 16px; } 
.icn-cup--plus{ background-position: -1680px 0; width: 16px; height: 16px; } 
.icn-cup{ background-position: -1701px 0; width: 16px; height: 16px; } 
.icn-cursor-question{ background-position: -1722px 0; width: 16px; height: 16px; } 
.icn-cursor{ background-position: -1743px 0; width: 16px; height: 16px; } 
.icn-database-share{ background-position: -1764px 0; width: 16px; height: 16px; } 
.icn-disk-return-black{ background-position: -1785px 0; width: 16px; height: 16px; } 
.icn-document-excel-table{ background-position: -1806px 0; width: 16px; height: 16px; } 
.icn-document-excel{ background-position: -1827px 0; width: 16px; height: 16px; } 
.icn-document-page-last{ background-position: -1848px 0; width: 16px; height: 16px; } 
.icn-document-page-next{ background-position: -1869px 0; width: 16px; height: 16px; } 
.icn-document-page-previous{ background-position: -1890px 0; width: 16px; height: 16px; } 
.icn-document-page{ background-position: -1911px 0; width: 16px; height: 16px; } 
.icn-document-share{ background-position: -1932px 0; width: 16px; height: 16px; } 
.icn-document-tex{ background-position: -1953px 0; width: 16px; height: 16px; } 
.icn-document-word-text{ background-position: -1974px 0; width: 16px; height: 16px; } 
.icn-document-word-tick{ background-position: 0 -21px; width: 16px; height: 16px; } 
.icn-document-word{ background-position: -21px -21px; width: 16px; height: 16px; } 
.icn-door-open-out{ background-position: -42px -21px; width: 16px; height: 16px; } 
.icn-door-open{ background-position: -63px -21px; width: 16px; height: 16px; } 
.icn-exclamation-button{ background-position: -84px -21px; width: 16px; height: 16px; } 
.icn-exclamation-circle-frame{ background-position: -105px -21px; width: 16px; height: 16px; } 
.icn-exclamation-circle{ background-position: -126px -21px; width: 16px; height: 16px; } 
.icn-exclamation-red-frame{ background-position: -147px -21px; width: 16px; height: 16px; } 
.icn-exclamation-red{ background-position: -168px -21px; width: 16px; height: 16px; } 
.icn-exclamation{ background-position: -189px -21px; width: 16px; height: 16px; } 
.icn-external{ background-position: -210px -21px; width: 16px; height: 16px; } 
.icn-eye--arrow{ background-position: -231px -21px; width: 16px; height: 16px; } 
.icn-eye--exclamation{ background-position: -252px -21px; width: 16px; height: 16px; } 
.icn-eye--minus{ background-position: -273px -21px; width: 16px; height: 16px; } 
.icn-eye--pencil{ background-position: -294px -21px; width: 16px; height: 16px; } 
.icn-eye--plus{ background-position: -315px -21px; width: 16px; height: 16px; } 
.icn-eye{ background-position: -336px -21px; width: 16px; height: 16px; } 
.icn-feed--arrow{ background-position: -357px -21px; width: 16px; height: 16px; } 
.icn-feed{ background-position: -378px -21px; width: 16px; height: 16px; } 
.icn-fill-090{ background-position: -399px -21px; width: 16px; height: 16px; } 
.icn-fill-180{ background-position: -420px -21px; width: 16px; height: 16px; } 
.icn-fill-270{ background-position: -441px -21px; width: 16px; height: 16px; } 
.icn-fill{ background-position: -462px -21px; width: 16px; height: 16px; } 
.icn-globe{ background-position: -483px -21px; width: 16px; height: 16px; } 
.icn-hand-point-090{ background-position: -504px -21px; width: 16px; height: 16px; } 
.icn-hand-point-180{ background-position: -525px -21px; width: 16px; height: 16px; } 
.icn-hand-point-270{ background-position: -546px -21px; width: 16px; height: 16px; } 
.icn-hand-point{ background-position: -567px -21px; width: 16px; height: 16px; } 
.icn-hand-share{ background-position: -588px -21px; width: 16px; height: 16px; } 
.icn-hand{ background-position: -609px -21px; width: 16px; height: 16px; } 
.icn-home-medium{ background-position: -630px -21px; width: 16px; height: 16px; } 
.icn-images{ background-position: -651px -21px; width: 16px; height: 16px; } 
.icn-information-balloon{ background-position: -672px -21px; width: 16px; height: 16px; } 
.icn-information-button{ background-position: -693px -21px; width: 16px; height: 16px; } 
.icn-information-frame{ background-position: -714px -21px; width: 16px; height: 16px; } 
.icn-information-italic{ background-position: -735px -21px; width: 16px; height: 16px; } 
.icn-information{ background-position: -756px -21px; width: 16px; height: 16px; } 
.icn-key-solid{ background-position: -777px -21px; width: 16px; height: 16px; } 
.icn-leaf{ background-position: -798px -21px; width: 16px; height: 16px; } 
.icn-lifebuoy{ background-position: -819px -21px; width: 16px; height: 16px; } 
.icn-light-bulb{ background-position: -840px -21px; width: 16px; height: 16px; } 
.icn-lock{ background-position: -861px -21px; width: 16px; height: 16px; } 
.icn-luggage-tag{ background-position: -882px -21px; width: 16px; height: 16px; } 
.icn-luggage{ background-position: -903px -21px; width: 16px; height: 16px; } 
.icn-magnet{ background-position: -924px -21px; width: 16px; height: 16px; } 
.icn-magnifier--plus{ background-position: -945px -21px; width: 16px; height: 16px; } 
.icn-magnifier-left{ background-position: -966px -21px; width: 16px; height: 16px; } 
.icn-magnifier-zoom-fit{ background-position: -987px -21px; width: 16px; height: 16px; } 
.icn-magnifier-zoom-in{ background-position: -1008px -21px; width: 16px; height: 16px; } 
.icn-magnifier-zoom-out{ background-position: -1029px -21px; width: 16px; height: 16px; } 
.icn-magnifier-zoom{ background-position: -1050px -21px; width: 16px; height: 16px; } 
.icn-magnifier{ background-position: -1071px -21px; width: 16px; height: 16px; } 
.icn-mail-air{ background-position: -1092px -21px; width: 16px; height: 16px; } 
.icn-mail-medium-open{ background-position: -1113px -21px; width: 16px; height: 16px; } 
.icn-mail-open{ background-position: -1134px -21px; width: 16px; height: 16px; } 
.icn-mail-receive{ background-position: -1155px -21px; width: 16px; height: 16px; } 
.icn-mail-send-receive{ background-position: -1176px -21px; width: 16px; height: 16px; } 
.icn-mail-send{ background-position: -1197px -21px; width: 16px; height: 16px; } 
.icn-mail-share{ background-position: -1218px -21px; width: 16px; height: 16px; } 
.icn-mail{ background-position: -1239px -21px; width: 16px; height: 16px; } 
.icn-marker--exclamation{ background-position: -1260px -21px; width: 16px; height: 16px; } 
.icn-marker--minus{ background-position: -1281px -21px; width: 16px; height: 16px; } 
.icn-marker--pencil{ background-position: -1302px -21px; width: 16px; height: 16px; } 
.icn-marker--plus{ background-position: -1323px -21px; width: 16px; height: 16px; } 
.icn-marker{ background-position: -1344px -21px; width: 16px; height: 16px; } 
.icn-megaphone--minus{ background-position: -1365px -21px; width: 16px; height: 16px; } 
.icn-megaphone--plus{ background-position: -1386px -21px; width: 16px; height: 16px; } 
.icn-megaphone{ background-position: -1407px -21px; width: 16px; height: 16px; } 
.icn-microformats{ background-position: -1428px -21px; width: 16px; height: 16px; } 
.icn-mobile-phone{ background-position: -1449px -21px; width: 16px; height: 16px; } 
.icn-navigation-000-button-white{ background-position: -1470px -21px; width: 16px; height: 16px; } 
.icn-navigation-000-button{ background-position: -1491px -21px; width: 16px; height: 16px; } 
.icn-navigation-000-frame{ background-position: -1512px -21px; width: 16px; height: 16px; } 
.icn-navigation-000-white{ background-position: -1533px -21px; width: 16px; height: 16px; } 
.icn-navigation-090-button-white{ background-position: -1554px -21px; width: 16px; height: 16px; } 
.icn-navigation-090-button{ background-position: -1575px -21px; width: 16px; height: 16px; } 
.icn-navigation-090-frame{ background-position: -1596px -21px; width: 16px; height: 16px; } 
.icn-navigation-090-white{ background-position: -1617px -21px; width: 16px; height: 16px; } 
.icn-navigation-090{ background-position: -1638px -21px; width: 16px; height: 16px; } 
.icn-navigation-180-button-white{ background-position: -1659px -21px; width: 16px; height: 16px; } 
.icn-navigation-180-button{ background-position: -1680px -21px; width: 16px; height: 16px; } 
.icn-navigation-180-frame{ background-position: -1701px -21px; width: 16px; height: 16px; } 
.icn-navigation-180-white{ background-position: -1722px -21px; width: 16px; height: 16px; } 
.icn-navigation-180{ background-position: -1743px -21px; width: 16px; height: 16px; } 
.icn-navigation-270-button-white{ background-position: -1764px -21px; width: 16px; height: 16px; } 
.icn-navigation-270-button{ background-position: -1785px -21px; width: 16px; height: 16px; } 
.icn-navigation-270-frame{ background-position: -1806px -21px; width: 16px; height: 16px; } 
.icn-navigation-270-white{ background-position: -1827px -21px; width: 16px; height: 16px; } 
.icn-navigation-270{ background-position: -1848px -21px; width: 16px; height: 16px; } 
.icn-navigation{ background-position: -1869px -21px; width: 16px; height: 16px; } 
.icn-palette{ background-position: -1890px -21px; width: 16px; height: 16px; } 
.icn-paper-clip{ background-position: -1911px -21px; width: 16px; height: 16px; } 
.icn-paper-plane{ background-position: -1932px -21px; width: 16px; height: 16px; } 
.icn-pencil--arrow{ background-position: -1953px -21px; width: 16px; height: 16px; } 
.icn-pencil{ background-position: -1974px -21px; width: 16px; height: 16px; } 
.icn-pin--arrow{ background-position: 0 -42px; width: 16px; height: 16px; } 
.icn-pin--exclamation{ background-position: -21px -42px; width: 16px; height: 16px; } 
.icn-pin--minus{ background-position: -42px -42px; width: 16px; height: 16px; } 
.icn-pin--pencil{ background-position: -63px -42px; width: 16px; height: 16px; } 
.icn-pin--plus{ background-position: -84px -42px; width: 16px; height: 16px; } 
.icn-pin{ background-position: -105px -42px; width: 16px; height: 16px; } 
.icn-plug--exclamation{ background-position: -126px -42px; width: 16px; height: 16px; } 
.icn-plug--minus{ background-position: -147px -42px; width: 16px; height: 16px; } 
.icn-plug--pencil{ background-position: -168px -42px; width: 16px; height: 16px; } 
.icn-plug--plus{ background-position: -189px -42px; width: 16px; height: 16px; } 
.icn-plug{ background-position: -210px -42px; width: 16px; height: 16px; } 
.icn-plus-button{ background-position: -231px -42px; width: 16px; height: 16px; } 
.icn-plus-circle-frame{ background-position: -252px -42px; width: 16px; height: 16px; } 
.icn-plus-circle{ background-position: -273px -42px; width: 16px; height: 16px; } 
.icn-plus-octagon-frame{ background-position: -294px -42px; width: 16px; height: 16px; } 
.icn-plus-octagon{ background-position: -315px -42px; width: 16px; height: 16px; } 
.icn-plus-shield{ background-position: -336px -42px; width: 16px; height: 16px; } 
.icn-plus-white{ background-position: -357px -42px; width: 16px; height: 16px; } 
.icn-plus{ background-position: -378px -42px; width: 16px; height: 16px; } 
.icn-printer--arrow{ background-position: -399px -42px; width: 16px; height: 16px; } 
.icn-printer--exclamation{ background-position: -420px -42px; width: 16px; height: 16px; } 
.icn-printer--minus{ background-position: -441px -42px; width: 16px; height: 16px; } 
.icn-printer--pencil{ background-position: -462px -42px; width: 16px; height: 16px; } 
.icn-printer--plus{ background-position: -483px -42px; width: 16px; height: 16px; } 
.icn-printer-color{ background-position: -504px -42px; width: 16px; height: 16px; } 
.icn-printer-empty{ background-position: -525px -42px; width: 16px; height: 16px; } 
.icn-printer-monochrome{ background-position: -546px -42px; width: 16px; height: 16px; } 
.icn-printer-share{ background-position: -567px -42px; width: 16px; height: 16px; } 
.icn-printer{ background-position: -588px -42px; width: 16px; height: 16px; } 
.icn-receipt--pencil{ background-position: -609px -42px; width: 16px; height: 16px; } 
.icn-receipt-share{ background-position: -630px -42px; width: 16px; height: 16px; } 
.icn-reports{ background-position: -651px -42px; width: 16px; height: 16px; } 
.icn-scissors-blue{ background-position: -672px -42px; width: 16px; height: 16px; } 
.icn-scissors{ background-position: -693px -42px; width: 16px; height: 16px; } 
.icn-star--minus{ background-position: -714px -42px; width: 16px; height: 16px; } 
.icn-star--plus{ background-position: -735px -42px; width: 16px; height: 16px; } 
.icn-star-half{ background-position: -756px -42px; width: 16px; height: 16px; } 
.icn-star{ background-position: -777px -42px; width: 16px; height: 16px; } 
.icn-telephone-handset-prohibition{ background-position: -798px -42px; width: 16px; height: 16px; } 
.icn-telephone-handset-wire{ background-position: -819px -42px; width: 16px; height: 16px; } 
.icn-telephone-handset{ background-position: -840px -42px; width: 16px; height: 16px; } 
.icn-thumb-up{ background-position: -861px -42px; width: 16px; height: 16px; } 
.icn-thumb{ background-position: -882px -42px; width: 16px; height: 16px; } 
.icn-tick-button{ background-position: -903px -42px; width: 16px; height: 16px; } 
.icn-tick-circle-frame{ background-position: -924px -42px; width: 16px; height: 16px; } 
.icn-tick-circle{ background-position: -945px -42px; width: 16px; height: 16px; } 
.icn-tick-red{ background-position: -966px -42px; width: 16px; height: 16px; } 
.icn-tick-white{ background-position: -987px -42px; width: 16px; height: 16px; } 
.icn-tick{ background-position: -1008px -42px; width: 16px; height: 16px; } 
.icn-toggle-expand{ background-position: -1029px -42px; width: 16px; height: 16px; } 
.icn-toggle-small-expand{ background-position: -1050px -42px; width: 16px; height: 16px; } 
.icn-toggle{ background-position: -1071px -42px; width: 16px; height: 16px; } 
.icn-toolbox{ background-position: -1092px -42px; width: 16px; height: 16px; } 
.icn-tree{ background-position: -1113px -42px; width: 16px; height: 16px; } 
.icn-umbrella{ background-position: -1134px -42px; width: 16px; height: 16px; } 
.icn-user--exclamation{ background-position: -1155px -42px; width: 16px; height: 16px; } 
.icn-user-black-female{ background-position: -1176px -42px; width: 16px; height: 16px; } 
.icn-user-black{ background-position: -1197px -42px; width: 16px; height: 16px; } 
.icn-user-business-boss{ background-position: -1218px -42px; width: 16px; height: 16px; } 
.icn-user-business-gray-boss{ background-position: -1239px -42px; width: 16px; height: 16px; } 
.icn-user-business-gray{ background-position: -1260px -42px; width: 16px; height: 16px; } 
.icn-user-business{ background-position: -1281px -42px; width: 16px; height: 16px; } 
.icn-user-detective-gray{ background-position: -1302px -42px; width: 16px; height: 16px; } 
.icn-user-detective{ background-position: -1323px -42px; width: 16px; height: 16px; } 
.icn-user-female{ background-position: -1344px -42px; width: 16px; height: 16px; } 
.icn-user-gray{ background-position: -1365px -42px; width: 16px; height: 16px; } 
.icn-user-medical{ background-position: -1386px -42px; width: 16px; height: 16px; } 
.icn-user-medium-silhouette{ background-position: -1407px -42px; width: 16px; height: 16px; } 
.icn-user-medium{ background-position: -1428px -42px; width: 16px; height: 16px; } 
.icn-user-silhouette-question{ background-position: -1449px -42px; width: 16px; height: 16px; } 
.icn-user-silhouette{ background-position: -1470px -42px; width: 16px; height: 16px; } 
.icn-user{ background-position: -1491px -42px; width: 16px; height: 16px; } 
.icn-users{ background-position: -1512px -42px; width: 16px; height: 16px; } 
.icn-wand--arrow{ background-position: -1533px -42px; width: 16px; height: 16px; } 
.icn-wand--exclamation{ background-position: -1554px -42px; width: 16px; height: 16px; } 
.icn-wand-hat{ background-position: -1575px -42px; width: 16px; height: 16px; } 
.icn-wand{ background-position: -1596px -42px; width: 16px; height: 16px; } 
.icn-wrench--arrow{ background-position: -1617px -42px; width: 16px; height: 16px; } 
.icn-wrench--exclamation{ background-position: -1638px -42px; width: 16px; height: 16px; } 
.icn-wrench--minus{ background-position: -1659px -42px; width: 16px; height: 16px; } 
.icn-wrench--pencil{ background-position: -1680px -42px; width: 16px; height: 16px; } 
.icn-wrench--plus{ background-position: -1701px -42px; width: 16px; height: 16px; } 
.icn-wrench-screwdriver{ background-position: -1722px -42px; width: 16px; height: 16px; } 
.icn-wrench{ background-position: -1743px -42px; width: 16px; height: 16px; } 
.icn-xfn-colleague-met{ background-position: -1764px -42px; width: 16px; height: 16px; } 
.icn-xfn-colleague{ background-position: -1785px -42px; width: 16px; height: 16px; } 
.icn-xfn-friend-met{ background-position: -1806px -42px; width: 16px; height: 16px; } 
.icn-xfn-friend{ background-position: -1827px -42px; width: 16px; height: 16px; } 
.icn-xfn-sweetheart-met{ background-position: -1848px -42px; width: 16px; height: 16px; } 
.icn-xfn-sweetheart{ background-position: -1869px -42px; width: 16px; height: 16px; } 
.icn-xfn{ background-position: -1890px -42px; width: 16px; height: 16px; } 
.icn-zones-stack{ background-position: -1911px -42px; width: 16px; height: 16px; } 
