
<center>
<div class='count_block'>{%$counter%}</div>
</center>
{%if $subsc|count > 0%}
	<table width="100%" border="0">
	{%foreach  from=$subsc item='s'%}
	<tr>
	<form name='form{%$s.id%}' action='?' method='post'>
	<td  valin="middle"><input name='id' type='hidden' value='{%$s.id%}'><input style='border: 1px solid red; background #FFE6E6; margin:3px;' type='submit' name='submit_subcscribe_{%$s.id%}' value='X' style="vertical-align:middle;"></td>
	<td width="100%" valin="middle">
		{%foreach  from=$s.cat item='linenav' name='i'%}
		{%$linenav.name%}
		{%if $smarty.foreach.i.last eq false %} / {%/if%}
		{%/foreach%}
	</td>
	</form>
	</tr>
	{%/foreach%}
</table>
{%/if%}

<div align='center'>
<form name='form' action='?' method='post'>
<FIELDSET style='width:400px;'><LEGEND>{%$locale.124%}</LEGEND>
<iframe scrolling='no' src="{%$settings.patch%}add/select/cat/" style="width:100%; height:180px;" frameborder="0" class='add'></iframe>
<br /><input type='submit' name='submit_subscribe' value='{%$locale.125%}'  class='add'><br />
</FIELDSET>
</form>
</div>