<br /><br /><br />

<style>
div.order
	{
	text-align: center;
	font-size:13px;
	}
div.order form input
	{
	font-size:13px;
	}

</style>



<div class='order'>

{%if $go%}

	<p>{%$locale.191%}: <b>{%$Count%}</b> {%$Currency%}</p>
	<p>{%$locale.661%}: </p>
<ul style='text-align:left; margin-left:20px;'>
	{%foreach from=$billing item='bil'%}
		{%if $bil.status == 1%}
			<li><a href="?p={%$bil.uri%}&id={%$payment_id%}">{%$bil.name%}</a> - {%$bil.descr%}</li>
		{%/if%}
	{%/foreach%}
</ul>

{%else%}

{%if $err%}
	<center>
		<div class='error' style='text-align:center;'>
		{%$locale.629%}
		</div>
	</center>
{%/if%}

	<form action='?' method='post'>
	{%$locale.191%}:
	<input type='text' name='num' value='' size='4'  style='text-align:center;'>
	{%$Currency%}
	<br /><br />
	<input type='submit' value='{%$locale.64%}'>
	</form>
{%/if%}
</div>