<form name='form' action='?' method='post'>

{%if $order%}
	<center>
	<div style='border:1px solid #4646FF; background-color: #ECECFF; padding-left:20px; margin:5px; width:400; text-align:left;'>
	<center><b>{%$locale.181%}</b></center><br />
		<ul>
			<li>{%$locale.182%}:<b> {%$services[$smarty.post.service].name%}</b></li>
			<li>{%$locale.160%}: <b>{%$smarty.post.days%}</b></li>
			<li>{%$locale.183%}: <b>{%$messages[$smarty.post.message_id].date_add|date_format:"%d.%m.%Y %H:%M"%} {%$messages[$smarty.post.message_id].title|truncate:100%}</b></li>
			<li>{%$locale.185%}: <b>{%$count%}</b></li>
		</ul>
	<br />
	<center><input type='submit' name='submit_order_ok' value='{%$locale.162%}'> <input type='button' onclick="javascript:go('{%$settings.patch%}users/order/')" value='{%$locale.184%}'></center> <br />
	</div>
    </center>

<input name='service' type='hidden' value='{%$smarty.post.service%}'>
<input name='days' type='hidden' value='{%$smarty.post.days%}'>
<input name='message_id' type='hidden' value='{%$smarty.post.message_id%}'>

{%else%}
	<table width='100%' align='center'>
	<tr><td>{%$locale.159%}</td><td>

	<table border='0'>

	    {%foreach from=$services item='serv'%}
				<tr><td><input name='service' type='radio' value='{%$serv.type%}' {%if $smarty.post.service == $serv.type || $smarty.get.service == $serv.type %}checked{%/if%}></td>
				<td><img class='help' onmouseover="Tip(this, '{%$serv.tip%}')" onmouseout="UnTip(this)" src="{%$settings.patch%}images/help.gif" width="16" height="15" alt="{%$locale.32%}" border="0"> <b>{%$serv.name%}</b>: {%$serv.price%}&nbsp;{%$currency_names[$settings.currency].name2%}/{%$locale.173%}, {%$locale.170%} {%$serv.word_max%}, {%$locale.171%} {%$serv.word_min%}</td>
				</tr>
		{%/foreach%}

	</table>

	</td></tr>
	<tr><td>{%$locale.160%}</td><td><input name='days' type='text' value='{%$smarty.post.days%}' size='4'> - {%$locale.172%} {%$error%}</td></tr>
	<tr><td>{%$locale.161%}</td><td>
		<select size='1' name='message_id'>
			{%foreach from=$messages item='mess'%}
				<option value='{%$mess.id%}'{%if $smarty.post.message_id == $mess.id || $smarty.get.message_id == $mess.id%} selected {%/if%}>{%$mess.date_add|date_format:"%d.%m.%Y %H:%M"%} {%$mess.title|truncate:100%}</option>
			{%foreachelse%}
	        	<option value='none'>[{%$locale.176%}]</option>
			{%/foreach%}
		</select>
	</td></tr>

	<tr><td><input type='submit' name='submit_calc' value='{%$locale.177%}'></td><td>
		{%if $submit%}
			<b>{%$count%}</b> &rarr; <input type='submit' name='submit_order' value='{%$locale.162%}'>
		{%else%}
			{%$count%}
		{%/if%}
	</td></tr>

	</table>
</form>
{%/if%}

{%if $settings.user.balance > 0%}

{%/if%}
