<!-- Modal contactAdvertiser -->

<div class="modal fade" id="contact_autor_div" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">{%$locale.11%}</span></button>
                <h4 class="modal-title"><i class=" icon-mail-2"></i> {%$locale.919%}  </h4>
            </div>
            <iframe id="contact_iframe" src=""></iframe>
        </div>
    </div>
</div>

<!-- /.modal -->