
<form name='form' action='?' method='post'  class="form-horizontal">


    <div class="form-group">
        <label class="col-md-4 control-label" for="sender-email">{%$locale.54%}</label>
        <div class="col-md-7">
            <div class="input-icon"><i class="icon-user fa"></i>
                <input name="email" id="sender-email" type="email" placeholder="E-mail" class="form-control email" required="">
            </div>
        </div>
    </div>
	{%if $settings.captcha == 1%}
        <div class="form-group">
            <label class="col-md-4 control-label">
                    {%$locale.44%}
                    <i class="icon-info-circled-alt" data-original-title="{%$locale.45%}"  data-placement="top" data-toggle="tooltip"></i>
            </label>
            <div class="col-md-7">
                <div class="captcha_cont">
                    {%if $settings.captcha_type == 3%}
                        <script src="https://www.google.com/recaptcha/api.js"></script>
                        <div class="g-recaptcha" data-sitekey="{%$settings.recaptcha1%}"></div>
                    {%else%}
                        <img src='{%$settings.path%}captcha/{%"100000"|mt_rand:900000%}'>
                        <input name="captcha" required="" class="form-control required" type="number" placeholder="{%$locale.1182%}" autocomplete="off">
                    {%/if%}
                </div>
            </div>
        </div>
	{%/if%}
    <div class="form-group">
        <div class="col-md-7 col-md-offset-4">
            <input type='submit' name='submit' value='{%$locale.55%}' class="btn btn-success">
        </div>
    </div>


</form>
